<a href="https://colab.research.google.com/github/manognaification/python/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Find large number of given 3 inputs

In [0]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if(a>b  and a>c):
  print("a is largest")
elif(b>c and b>a):
  print("b is largest")
else:
  print("c is largest")

enter a value10
enter b value11
enter c value12
c is largest

# while statements
## syntax
#### while boolean_condition:<br>
                      statements<br>
                      Increment/Decrement <br>

In [0]:
x=0
while x<5:
  print("gitam")
  x=x+1

gitam
gitam
gitam
gitam
gitam

# Print n natural numbers using while loop
# input:10
# output:1 2 3 4 5 6 7 8 9 10

In [0]:
n=int(input("enter a number"))
i=0
while(i<n):
  i=i+1
  print(i,end=' ')

enter a number10
1 2 3 4 5 6 7 8 9 10

# add only even numbers 1 to n
# input:10
#output:30(2+4+6+8+10)

In [0]:
n=int(input("enter a number"))
sum=0
i=1
while(i<=n):
       if i%2==0:
           sum=sum+i
       i=i+1
print(sum)

enter a number10
30

# Palindrome
# input:123
# output:321

In [0]:
n=int(input("enter a number"))
while n!=0:
  r=n%10
  print(r,end=' ')
  n=n//10

enter a number123
3 2 1

# Functional programming
- simple
- Easy read
- Lengthy program into sub program
## syntax:
      def nameofthefunction<parameters>:
             statements
              return

# add even digits of a given number
# input:1234
# output:6

In [0]:
def addevendigits(n):
      sum=0
      while n!=0:
            r=n%10
            if r%2==0:
              sum=sum+r
            n=n//10
      return sum
addevendigits(1234)

6

# read input
# input:19528
# output:9

#input:123
#output:321

In [87]:
def large(n):
  l=0
  while n!=0:
      r=n%10
      if r>l:
        l=r
      n=n//10
  return l

large(1359628)

9

In [0]:
def rev(n):
  while n!=0:
      r=n%10
      print(r,end=' ')
      n=n//10
(rev(123))

3 2 1

# palindrome
# input:121----121->yes

In [92]:
def palindrome(n):
  rev=0
  buffer=n
  while n!=0:
    r=n%10
    rev=rev*10+r
    n=n//10
  if buffer==rev:
    return "yes"
  else:
    return "no"
print(palindrome(121))
print(palindrome(129))

yes
no

In [104]:
def natural(n):
      for i in range(1,n+1):
            print(i,end=' ')
natural(10)

1 2 3 4 5 6 7 8 9 10

In [110]:
def natural(l,b):
  for i in range(l,b+1):
        print(i,end=' ')
natural(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [114]:
def revrange(start,end):
  for i in range(end,start-1,-1):
        print(i,end='  ')
revrange(1,10)

10  9  8  7  6  5  4  3  2  1

# Data structures types:
- List
- tuple
- dictionary

# List:
It is the one of data sturcture in python
- crud operations
- c-create
- r-read
- u-update
- d-delete
- list values can be changed or mutable
# Examples:
- list =[1,2,3,4]

In [125]:
li=[1,2,3,4,5]
print(li)
print(li[3])
print(li[-3])

[1, 2, 3, 4, 5]
4
3