<a href="https://colab.research.google.com/github/manognaification/python/blob/master/28_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Input str="pynative"
# output='p','n','t','v'
- using function

# 2.Given list of integers,return true if first and last number is same

# 3.Print the pattern
  - 1
  - 2 2
  - 3 3 3
  - 4 4 4 4
  -5 5 5 5 5

In [33]:
def string(n):
  li=list(n)
  li=li[::2]
  print(li)
string("pynative")

['p', 'n', 't', 'v']

In [40]:
def fl(li):
  if li[0]==li[-1]:
    return True
  else:
    return False
li=[1,0,2,1]
la=[1,2,3,4]
print(fl(li))
print(fl(la))

True
False

In [41]:
for num in range(6):
    for i in range(num):
        print (num, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [54]:
a=input("enter your name")
b=int(input("enter your age"))
print(a)
print(b)
print((2019-19)+100)

enter your namemanu
enter your age19
manu
19

2100